@media (max-width: 992px) {
  .absence-badge {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .absence-list-item {
    position: relative !important;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.absence {
  justify-content: space-around;
}
@media (max-width: 767px) {
  .absence {
    flex-wrap: wrap !important;
  }
}
