.analytics {
  min-height: 600px;
}
.menu {
  z-index: 10;
  top: 10px;
  padding: 15px !important;
  border-radius: 10px;
}

.background {
  background-color: transparent !important;
  backdrop-filter: blur(30px) !important;
}

.logo {
  height: 40px;
  padding: 0;
}

.chart-container {
  height: 80% !important; /* Ustaw wysokość na 100% wysokości rodzica */
  position: relative;
}
.chart-container > canvas {
  padding: 0 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.menu-select {
  width: 200px !important;
}
hr.solid {
  border-top: 3px solid #bbb;
}

.offcanvas-body > .analytics-filter > div {
  margin: 30px 0;
}

.css-1nmdiq5-menu {
  z-index: 100 !important;
}
