.ECP {
  overflow-y: scroll;
  max-height: 600px;
}

.ECP-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.ECP-input__reason {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60px;
}
.ECP-input__time {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.ECP-input__time > div {
  margin: 0 5px;
}
.person {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 10px;
}
.badge {
  height: 100%;
}

.ecp-accordion {
  height: 100px;
}

@media (max-width: 718px) {
  .ecp-accordion {
    height: 130px;
  }
  .ECP-input__reason {
    height: 40px;
  }
}
