.employee-inf {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100px;
}
.add-new-employee-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.new-employee-select {
  padding-bottom: 5px !important;
  margin: 10px 0 !important;
}
