.employee-inf {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100px;
}
.add-new-employee-btn {
  width: 100px;
}
.new-employee-select {
  padding-bottom: 5px !important;
  margin: 10px 0 !important;
}
.edit-btn {
  position: absolute;
  padding: 2px 7px !important;
  top: -20px;
  right: -10px;
  backdrop-filter: blur(10px);
}
.form-floating {
  position: relative;
  margin: 5px 0;
}

@media (min-width: 500px) {
  .add-new-employee-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    width: auto;
  }
}
@media (max-width: 576px) {
  .new-home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .new-home > button {
    width: 200px;
  }
}
