.employee-inf {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100px;
}
.add-new-employee-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.new-employee-select {
  padding-bottom: 5px !important;
  margin: 10px 0 !important;
}
.edit-btn {
  position: absolute;
  padding: 2px 7px !important;
  top: -20px;
  right: -10px;
  backdrop-filter: blur(10px);
}
