.request {
  text-align: left;
}
.request_close-btn {
  position: absolute;
  z-index: 20;
  right: 20px;
  top: 15px;
}
.request-bottom-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.request-select {
  max-width: 410px;
  margin-right: 10px;
}
.request-dates {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.request-date {
  max-width: 200px;
  margin-right: 10px;
}
.requests-manage {
  display: flex;
  flex-direction: row;
}
.requests-manage_list {
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.requests-manage-mail {
  width: 80%;
  padding: 0 15px;
}

.requests-manage_list-item {
  position: relative !important;
}
.requests-manage_list-item_badge {
  position: absolute;
}
.badge {
  backdrop-filter: blur(2px);
  height: 20px;
  right: 5px;
  top: 5px;
  --bs-bg-opacity: 0.8 !important;
}
.request-manage_btns {
  display: flex;
}
@media (min-width: 767px) {
  .requests-manage_list {
    max-width: 300px;
  }
}
