.request {
  text-align: left;
}
.request-bottom-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.request-select {
  max-width: 410px;
  margin-right: 10px;
}
.request-dates {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.request-date {
  max-width: 200px;
  margin-right: 10px;
}
.requests-manage {
  display: flex;
  flex-direction: row;
}
.requests-manage_list {
  max-width: 300px;
  text-align: left;
  cursor: pointer;
}
.requests-manage-mail {
  width: 80%;
  padding: 0 15px;
  /*
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  */
}
