.interface {
  position: relative;
  z-index: 0;
  padding: 10px;
  height: 80%;
  width: 100%;
  border-radius: 10px;
  background-color: #2b3035;
  background-color: var(--bs-body-bg) !important;
  color: var(--bs-body-color) !important;
  backdrop-filter: blur(100px);
}
.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
}
.controls > {
  margin: 10px;
}
.scroll {
  overflow-y: scroll;
  max-height: 500px;
}
