.interface {
  position: relative;
  z-index: 0;
  padding: 10px;
  height: 80%;
  width: 100%;
  border-radius: 10px;
  background-color: #2b3035;
  background-color: var(--bs-body-bg) !important;
  color: var(--bs-body-color) !important;
  backdrop-filter: blur(100px);
}
.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
}
.controls > {
  margin: 10px;
}
.scroll {
  overflow-y: scroll;
  max-height: 500px;
}

::-webkit-scrollbar {
  width: 0.1rem; /* Szerokość paska przewijania w Webkit (Chrome, Safari) */
}

.carousel-item {
  position: relative;
  min-height: 500px;
}
.carousel-item > .background {
  max-height: 600px;
  min-height: 500px;
  object-fit: cover;
  object-position: top;
  opacity: 25%;
}
.carousel-caption {
  left: 50% !important;
  right: 0 !important;
  bottom: 0 !important;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}
.carousel-indicators {
  bottom: -25px !important;
}

.background-footer {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%, 0px);
  height: 120px;
  opacity: 85%;
}
.home-presence_data {
  padding: 30px;
  margin: 10px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
}

.home-presence_data > div > p {
  text-align: center;
  width: 100%;
}

.home-presence_data > div > table {
  opacity: 80%;
  backdrop-filter: blur(20px) !important;
  border-radius: 5px;
}
@media (max-width: 575px) {
  .home-presence_data {
    padding: 0;
    margin: 20px 0 0 0;
  }
  .background-footer {
    transform: translate(-50%, 0);
    height: 90px !important;
  }
}
@media (max-width: 767px) {
  .background-footer {
    transform: translate(-50%, 0px);
    height: 110px;
  }
}
