.menu {
  padding: 15px !important;
  border-radius: 10px;
  z-index: 2000;
}
.offcanvas {
  z-index: 3000 !important;
}

.background {
  background-color: transparent !important;
  backdrop-filter: blur(30px) !important;
}

.logo {
  height: 40px;
  padding: 0;
}

.menu-select {
  width: 200px !important;
}
@media (max-width: 500px) {
  .offcanvas {
    width: 70% !important;
  }
}
